.Graph {
  display: flex;
  flex-direction: column;
  min-height: 70% !important;
  min-width: 70% !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden; 
}

.Plugins {
  z-index: 2;
  min-height: 10% !important;
  max-height: 20% !important;
  min-width: 70% !important;
  background-color: white;
  height: 100%;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto; 
}
